[submodule "windows-defs-2021h20"]
	path = windows-defs-2021h20
	url = https://github.com/TDC0471/windows-defs-2021h20
[submodule "capstone"]
	path = capstone
	url = https://github.com/capstone-engine/capstone.git
